.page2{
    --line-color: #000;
    --line-weight: 0.6vh;

    --bottom-height: 6vh;
    --garage-door-width: 83.5vh;
    --garage-door-top-gap: 20vh;
    --garage-door-slider-wid: 2.3%;

    --portico-height: 15vh;
    --portico-width: 85vh;
    --portico-angle: 15deg;
    --portico-depth: 16vh;

    --tile-wall-top-gap: 37.1%;
    --tile-bg-size: 7.32vh;
    
    --floor-tile-size: 4vh;

    --machine1-width: 27vh;
    --machine1-height: 57vh;

    --machine2-width: 32vh;
    --machine2-height: 57vh;

    --machine-gap: 1.5vh;
    --machine-depth: 6vh;
    --machine-center-offset: 0.6vh;
    
    --post-container-pos: 31vh;
    --post-container-width: 11vh;
    --post-container-height: 16.4vh;
    --post-container-base-height: 27.1vh;
    --post-container-depth: 3vh;

    transform: perspective(100vh);
    transform-style: preserve-3d;
}

.page2 .wall{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:var(--bottom-height);
    background: linear-gradient(190deg, #c557d1, #df6ac5 20%, #8023f3 100%);
}

.page2 .wall .garagedoor{
    position: absolute;
    top:var(--garage-door-top-gap);
    width: var(--garage-door-width);
    left: calc(50% - var(--garage-door-width) * 0.5);
    right:var(--garage-door-side-gap);
    bottom:0;

    background: linear-gradient(var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight), #0000);
    background-size: calc(100% - var(--garage-door-slider-wid) * 2) 4.25%;
    background-position: 50% 3%;
    background-repeat: repeat-y;

}

.page2 .wall .garagedoor::before{
    position: absolute;
    left:0;
    top:0;
    right:calc(100% - var(--garage-door-slider-wid));
    bottom:0;
    content:"";
    background: linear-gradient(90deg, var(--line-color) 0%, var(--line-color) var(--line-weight), #0000 var(--line-weight), #0000 calc(100% - var(--line-weight)), var(--line-color) calc(100% - var(--line-weight)));
}

.page2 .wall .garagedoor::after{
    position: absolute;
    right:0;
    top:0;
    left:calc(100% - var(--garage-door-slider-wid));
    bottom:0;
    content:"";
    background: linear-gradient(90deg, #000f 0%, #000f var(--line-weight), #0000 var(--line-weight), #0000 calc(100% - var(--line-weight)), var(--line-color) calc(100% - var(--line-weight)));
}

.page2 .wall:before{
    position: absolute;
    left:0;
    right:calc(50% + var(--garage-door-width) * 0.5);
    top:var(--tile-wall-top-gap);
    bottom: 0;
    content:"";
    background: linear-gradient(var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight)), linear-gradient(90deg, var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight));
    background-size: var(--tile-bg-size) var(--tile-bg-size), var(--tile-bg-size) var(--tile-bg-size);
    background-position-x:calc(50vw - 49vh);
}

.page2 .wall:after{
    position: absolute;
    right:0;
    left:calc(50% + var(--garage-door-width) * 0.5);
    top:var(--tile-wall-top-gap);
    bottom: 0;
    content:"";
    background: linear-gradient(var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight)), linear-gradient(90deg, var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight));
    background-size: var(--tile-bg-size) var(--tile-bg-size), var(--tile-bg-size) var(--tile-bg-size);
    background-position: 6vh 0;
}

.page2 .v1{
    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);
    width:var(--machine1-width);
    height:var(--machine1-height);
    position:absolute;
    bottom:var(--bottom-height);
    left: calc(50% + var(--machine-gap)*0.5);

    transform:translateX(var(--machine-center-offset)) translateZ(var(--machine-depth));

    background: linear-gradient(-100deg, #f078b9, #ac63e2);
}

.page2 .v1 .mainwindow{
    position:absolute;
    top:4%;
    left:5%;
    width:78%;
    height:52%;
    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);
}

.page2 .v1 .droparea{
    position:absolute;
    bottom:15%;
    left:13%;
    width:49%;
    height:17%;
    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);
}


.page2 .v2{
    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);
    width:var(--machine2-width);
    height:var(--machine2-height);
    position:absolute;
    bottom:var(--bottom-height);
    right: calc(50% + var(--machine-gap)*0.5);

    transform:translateX(var(--machine-center-offset)) translateZ(var(--machine-depth));

    background: linear-gradient(-100deg, #c264f3, #813ce5);
}

.page2 .v2 .mainwindow{
    position:absolute;
    top:4%;
    left:5%;
    width:92%;
    height:52%;
    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);
}

.page2 .v2 .droparea{
    position:absolute;
    bottom:14.4%;
    left:10%;
    width:64%;
    height:18.5%;
    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);
}

.page2 .postcontainer{
    box-sizing: border-box;
    position: absolute;
    left:calc(50% + var(--post-container-pos));
    bottom: var(--post-container-base-height);
    width: var(--post-container-width);
    height: var(--post-container-height);
    border: var(--line-weight) solid var(--line-color);
    
    transform:translateZ(var(--post-container-depth));
}

.page2 .credit{
    z-index: 1000;
    position: absolute;
    left:0.5vw;
    bottom:0.5vh;
    font-size: 2vh;
    font-family: Perfect-Dos;
    mix-blend-mode: difference;
}

.page2 .portico{
    position: absolute;

    left: calc(50% - var(--portico-width) * 0.5);
    top: calc(var(--garage-door-top-gap) - var(--portico-height) * 0.5);

    width: var(--portico-width);
    height: var(--portico-height);

    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);

    transform: translateZ(var(--portico-depth)) translateY(-1.4vh) rotateX(var(--portico-angle));
    transform-style: preserve-3d;
    
    background: linear-gradient(195deg, #f46698 20%, #651690);
}

.page2 .portico::before{
    position:absolute;
    box-sizing: border-box;
    top:0;
    left:0;
    height:104%;/*calc(100% * cos(var(--portico-angle)));*/
    width:20vh;
    content:"";
    border:inherit;
    transform-origin: left;
    transform: rotateX(calc(-1 * var(--portico-angle))) rotateY(90deg) skewX(calc(-1 * var(--portico-angle))) translateY(-0.15vh) translateZ(-0.4vh);
}

.page2 .portico::after{
    position:absolute;
    box-sizing: border-box;
    top:0;
    right:0;
    height:104%;/*calc(100% * cos(var(--portico-angle)));*/
    width:20vh;
    content:"";
    border:inherit;
    transform-origin: right;
    transform: rotateX(calc(-1 * var(--portico-angle))) rotateY(-90deg) skewX(var(--portico-angle)) translateY(-0.15vh) translateZ(-0.4vh);
}

.page2 .floor{
    position: absolute;
    left:-50%;
    right:-50%;
    bottom: 0;
    height:100vh;
    transform-origin: bottom;
    
    content:"";
    background: linear-gradient(var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight)), linear-gradient(90deg, var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight)), linear-gradient(190deg, #c557d1, #df6ac5 20%, #8023f3 100%);
    background-size: var(--floor-tile-size) var(--floor-tile-size), var(--floor-tile-size) var(--floor-tile-size), 100% 100%;
    
    transform:rotateX(90deg) translateZ(var(--bottom-height)) translateY(calc(var(--bottom-height) * 4));
}

.page2 .credit *{
    color:white;
}

.page2 .ref{
    position: absolute;
    top:0;
    left:50%;
    height:100%;
    transform: translateX(-50%);
    z-index: 100;
    opacity: 0.5;
    pointer-events: none;
}
