.page2{
    --line-color: #000;
    --line-weight: 0.2vh;

    --bottom-height: 6vh;
    --garage-door-width: 83.5vh;
    --garage-door-top-gap: 20vh;
    --garage-door-slider-wid: 2.3%;

    --portico-height: 15vh;
    --portico-width: 85vh;
    --portico-angle: 15deg;
    --portico-depth: 16vh;

    --tile-wall-top-gap: 37.1%;
    --tile-bg-size: 7.4vh;
    
    --floor-tile-size: 4vh;

    --machine1-width: 27vh;
    --machine1-height: 57vh;

    --machine2-width: 32vh;
    --machine2-height: 57vh;

    --machine-gap: 1.5vh;
    --machine-depth: 6vh;
    --machine-center-offset: 0.6vh;
    
    --post-container-pos: 31vh;
    --post-container-width: 11vh;
    --post-container-height: 16.4vh;
    --post-container-base-height: 27.1vh;
    --post-container-depth: 3vh;
    
    --shadow-opacity:0.5;
    --shadow-color: #004;

    transform: perspective(100vh);
    transform-style: preserve-3d;
    
    transition: transform 1s ease-in-out;
    z-index: 0;
}

.page2.focus{
    transform: perspective(100vh) translateZ(63vh) translateY(-4vh) translateX(3.3vh) /*rotateX(-15deg) rotateY(45deg)*/;
}

.page2 .wall{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:var(--bottom-height);
    background: linear-gradient(190deg, #c557d1, #df6ac5 20%, #8023f3 100%);
    border-bottom: var(--line-color) var(--line-weight) solid;
    box-sizing: border-box;
}

.page2 .wall .garagedoor{
    position: absolute;
    top:var(--garage-door-top-gap);
    width: var(--garage-door-width);
    left: calc(50% - var(--garage-door-width) * 0.5);
    right:var(--garage-door-side-gap);
    bottom:0;

    background: linear-gradient(var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight), #0000);
    background-size: calc(100% - var(--garage-door-slider-wid) * 2) 4.25%;
    background-position: 50% 3%;
    background-repeat: repeat-y;

}

.page2 .wall .garagedoor::before{
    position: absolute;
    left:0;
    top:0;
    right:calc(100% - var(--garage-door-slider-wid));
    bottom:0;
    content:"";
    background: linear-gradient(90deg, var(--line-color) 0%, var(--line-color) var(--line-weight), #0000 var(--line-weight), #0000 calc(100% - var(--line-weight)), var(--line-color) calc(100% - var(--line-weight)));
}

.page2 .wall .garagedoor::after{
    position: absolute;
    right:0;
    top:0;
    left:calc(100% - var(--garage-door-slider-wid));
    bottom:0;
    content:"";
    background: linear-gradient(90deg, #000f 0%, #000f var(--line-weight), #0000 var(--line-weight), #0000 calc(100% - var(--line-weight)), var(--line-color) calc(100% - var(--line-weight)));
}

.page2 .wall:before{
    position: absolute;
    left:0;
    right:calc(50% + var(--garage-door-width) * 0.5);
    top:var(--tile-wall-top-gap);
    bottom: 0;
    content:"";
    background: linear-gradient(var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight)), linear-gradient(90deg, var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight));
    background-size: var(--tile-bg-size) var(--tile-bg-size), var(--tile-bg-size) var(--tile-bg-size);
    background-position-x:calc(50vw - 49vh);
}

.page2 .wall:after{
    position: absolute;
    right:0;
    left:calc(50% + var(--garage-door-width) * 0.5);
    top:var(--tile-wall-top-gap);
    bottom: 0;
    content:"";
    background: linear-gradient(var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight)), linear-gradient(90deg, var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight));
    background-size: var(--tile-bg-size) var(--tile-bg-size), var(--tile-bg-size) var(--tile-bg-size);
    background-position: 6vh 0;
}

.page2 .v1{
    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);
    width:var(--machine1-width);
    height:var(--machine1-height);
    position:absolute;
    bottom:var(--bottom-height);
    left: calc(50% + var(--machine-gap)*0.5);

    transform:translateX(var(--machine-center-offset)) translateZ(var(--machine-depth));

    --background: linear-gradient(-100deg, #f078b9, #ac63e2);
    
    background: radial-gradient(circle at 230% 10%, rgba(239,123,171,1) 50%, rgba(141,90,230,1) 95%);
    
    border-radius: 1vh;
}

.page2 .wall .v1shadow{
    box-sizing: border-box;
    width:var(--machine1-width);
    height:calc(var(--machine1-height) - 2vh);
    position:absolute;
    bottom:0;
    left: calc(50% + var(--machine-gap)*0.5);
    
    transform:translateX(-10vh);
    background-color:var(--shadow-color);
    opacity:var(--shadow-opacity);
    filter:blur(0.2vh);
}

.page2 .v1 .mainwindow{
    position:absolute;
    top:4%;
    left:5%;
    width:78%;
    height:52%;
    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);
    border-radius: 1vh;
    overflow:clip;
    background: linear-gradient(90deg, #6bcefa 6%, #f476fe 20%, #f476fe 80%, #6bcefa 94%);
}

.page2 .v1 .droparea{
    position:absolute;
    bottom:15%;
    left:13%;
    width:49%;
    height:17%;
    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);
}

/*
.page2 .v1 .mainwindow::before{
    content:"";
    position:absolute;
    top:0%;
    left:0%;
    bottom:0;
    width:4%;
    box-sizing: border-box;
    border-right: var(--line-weight) solid var(--line-color);
    
    background-color: #f360f6;
}

.page2 .v1 .mainwindow::after{
    content:"";
    position:absolute;
    top:0%;
    right:0%;
    bottom:0;
    width:4%;
    box-sizing: border-box;
    border-left: var(--line-weight) solid var(--line-color);
    
    background-color: #f360f6;
}
*/

.page2 .mainwindow .shade{
    content:"";
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: 1;
    box-sizing: border-box;
    
    background:linear-gradient(90deg, #000f, #000a 40%, #000a 60%, #000f);
    
    opacity:1;
    transition: opacity 0.4s linear;
}

.page2.focus .mainwindow .shade{
    opacity:0;
}

.page2 .v2{
    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);
    width:var(--machine2-width);
    height:var(--machine2-height);
    position:absolute;
    bottom:var(--bottom-height);
    right: calc(50% + var(--machine-gap)*0.5);

    transform:translateX(var(--machine-center-offset)) translateZ(var(--machine-depth));

    background: radial-gradient(circle at 230% 10%, #dc59f9 50%, #893bf1 95%);
    border-radius: 1vh;
}

.page2 .wall .v2shadow{
    width:var(--machine2-width);
    height:calc(var(--machine2-height));
    position:absolute;
    bottom:-1.8vh;
    right: calc(50% + var(--machine-gap)*0.5);
    
    transform:translateX(-12vh) skewX(-12deg);
    background-color:var(--shadow-color);
    opacity:var(--shadow-opacity);
    border-radius: 1vh;
    filter:blur(0.2vh);
}

.page2 .v2 .mainwindow{
    position:absolute;
    top:4%;
    left:5%;
    width:92%;
    height:52%;
    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);
    border-radius: 2vh;
    
    background: linear-gradient(90deg, #6bcefa 6%, #f476fe 20%, #f476fe 88%, #6bcefa 98%);
    overflow: clip;
}

/*
.page2 .v2 .mainwindow::before{
    content:"";
    position:absolute;
    top:0%;
    left:0%;
    bottom:0;
    width:5%;
    box-sizing: border-box;
    border-right: var(--line-weight) solid var(--line-color);
    
    background-color: #f360f6;
}

.page2 .v2 .mainwindow::after{
    content:"";
    position:absolute;
    top:0%;
    right:0%;
    bottom:0;
    width:2%;
    box-sizing: border-box;
    border-left: var(--line-weight) solid var(--line-color);
    
    background-color: #f360f6;
}
*/
.page2 .v2 .droparea{
    position:absolute;
    bottom:14.4%;
    left:10%;
    width:64%;
    height:18.5%;
    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);
}

.page2 .postcontainer{
    box-sizing: border-box;
    position: absolute;
    left:calc(50% + var(--post-container-pos));
    bottom: var(--post-container-base-height);
    width: var(--post-container-width);
    height: var(--post-container-height);
    border: var(--line-weight) solid var(--line-color);
    
    transform:translateZ(var(--post-container-depth));
    border-radius: 1vh;
    
    background: radial-gradient(circle at 140% 10%, #ee4cde 30% , #753de8 100%);
}

.page2 .postcontainer .posttext{
    text-align: center;
    position: absolute;
    left:50%;
    bottom:2vh;
    padding: 0.8vh;
    font-size: 2vh;
    line-height: 1.8vh;
    font-family: monospace;
    transform:translateX(-50%) scaleY(1.4);
    border: calc(var(--line-weight) * 0.5) var(--line-color) solid;
    color:#000;
    pointer-events: none;
    user-select: none;
}

.page2 .postcontainer::before{
    position: absolute;
    top:14%;
    left:10%;
    bottom:50%;
    right:10%;
    box-sizing: border-box;
    
    background-color: #000;
    border-radius: 0.6vh;
    content:"";
}

.page2 .postcontainer::after{
    box-sizing: border-box;
    position: absolute;
    left:30%;
    right:30%;
    top: 100%;
    height: calc(var(--post-container-base-height) - 5.7vh);
    border: var(--line-weight) solid var(--line-color);
    
    background: linear-gradient(90deg, #0048, #0040 80%), #843aea;
    
    content:"";
}

.page2 .wall .postshadow{
    position: absolute;
    left:calc(50% + var(--post-container-pos));
    bottom: calc(var(--post-container-base-height) - var(--bottom-height) - 2vh);
    border-radius: 1vh;
    width: var(--post-container-width);
    height: var(--post-container-height);
    
    background-color: var(--shadow-color);
    opacity:var(--shadow-opacity);
    filter:blur(0.2vh);
}

.page2 .wall .postshadow::after{
    position: absolute;
    left:30%;
    right:30%;
    top: 100%;
    height: calc(var(--post-container-base-height) - 5.7vh);
    content:"";
    
    background-color: var(--shadow-color);
    opacity:var(--shadow-opacity);
}

.page2 .floor .pshadow{
    position:absolute;
    --height: var(--post-container-depth);
    bottom:calc(var(--bottom-height) * 4 - var(--height));
    height:var(--height);
    left: 50%;
    width: 4vh;
    background-color: var(--shadow-color);
    opacity:var(--shadow-opacity);
    
    transform-origin: top;
    transform:translateX(34.2vh);
    
    filter:blur(0.2vh);
}

.page2 .portico{
    position: absolute;

    left: calc(50% - var(--portico-width) * 0.5);
    top: calc(var(--garage-door-top-gap) - var(--portico-height) * 0.5);

    width: var(--portico-width);
    height: var(--portico-height);

    box-sizing: border-box;
    border: var(--line-weight) solid var(--line-color);

    transform: translateZ(var(--portico-depth)) translateY(-1.4vh) rotateX(var(--portico-angle));
    transform-style: preserve-3d;
    
    background: linear-gradient(195deg, #f46698 20%, #651690);
}

.page2 .portico::before{
    position:absolute;
    box-sizing: border-box;
    top:0;
    left:0;
    height:100%;
    width:20vh;
    content:"";
    border:inherit;
    transform-origin: left;
    transform: rotateX(calc(-1 * var(--portico-angle))) rotateY(90deg) skewX(calc(-1 * var(--portico-angle))) translateZ(-0.2vh);
    background-color: #c664cc;
    background-image: linear-gradient(#0048, #0048);
}

.page2 .portico::after{
    position:absolute;
    box-sizing: border-box;
    top:0;
    right:0;
    height:100%;
    width:20vh;
    content:"";
    border:inherit;
    transform-origin: right;
    transform: rotateX(calc(-1 * var(--portico-angle))) rotateY(-90deg) skewX(var(--portico-angle))translateZ(-0.2vh);
    background-color: #dc60c4;
    background-image: linear-gradient(#0048, #0048);
}

.page2 .wall .pshadow{
    position: absolute;
    top: calc(var(--garage-door-top-gap) - var(--portico-height) * 0.5 - 1.25vh);
    height:var(--portico-height);
    left:50%;
    width:calc(var(--portico-width) + 0.6vh);
    transform:translateX(-50%);
    
    --background-color: var(--shadow-color);
    
    --bottom-shadow-hgt: 2vh;
    filter:blur(0.2vh);
    opacity:var(--shadow-opacity);
}

.page2 .wall .pshadow::before{
    position: absolute;
    top: 0;
    height: calc(100% + var(--bottom-shadow-hgt));
    right:0;
    width:100vw;
    transform-origin: bottom;
    transform:skewX(-10deg);
    
    content:"";
    
    background-color: var(--shadow-color);
}



.page2 .floor{
    position: absolute;
    left:-50%;
    right:-50%;
    bottom: 0;
    height:100vh;
    transform-origin: bottom;
    
    content:"";
    background: linear-gradient(var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight)), linear-gradient(90deg, var(--line-color) 0, var(--line-color) var(--line-weight), #0000 var(--line-weight)), linear-gradient(190deg, #c557d1, #df6ac5 20%, #8023f3 100%);
    background-size: var(--floor-tile-size) var(--floor-tile-size), var(--floor-tile-size) var(--floor-tile-size), 100% 100%;
    
    transform:rotateX(90deg) translateZ(var(--bottom-height)) translateY(calc(var(--bottom-height) * 4));
}

.page2 .floor .vshadow{
    position:absolute;
    --height: 6vh;
    bottom:calc(var(--bottom-height) * 4 - var(--height));
    height:var(--height);
    left: 50%;
    width: 60vh;
    background-color: var(--shadow-color);
    opacity:var(--shadow-opacity);
    transform-origin: top;
    transform:translateX(-51vh) skewX(70deg);
    
    filter:blur(0.2vh);
    pointer-events: none;
}

.page2 .floor .credit{
    position: absolute;
    z-index: -1;
    left:calc(50% - 39vh);
    --height: 2vh;
    bottom:calc(var(--bottom-height) * 3 + 3vh);
    font-size: 1.4vh;
    font-family: Perfect-Dos;
    transform: scaleY(2);
    transition: transform 0.4s;
}

.page2 .floor .credit::after{
    position: absolute;
    top:-50%;
    bottom:-100%;
    right:-100%;
    left:0;
    content:"";
    z-index: -1;
}

.page2 .floor .credit:hover{
    transform: scaleY(2) translateX(-18vh) scale(1.4);
}

.page2 .floor .credit *{
    text-decoration: none;
    color:#fff;
}

.page2 .ref{
    position: absolute;
    top:0;
    left:50%;
    height:100%;
    transform: translateX(-50%);
    z-index: 100;
    opacity: 0.5;
    pointer-events: none;
}
